body {
    margin: 0;
    background-color: rgba(243, 166, 34, 0.89);
}

header {
    display: flex;
    padding-left: 150px;
    padding-right: 150px;
    align-items: center;
    justify-content: space-between;
}

.logo-header {
    width: 25%;
}

.menu ul {
    display: flex;
    list-style-type: none;
}

.menu li a {
    color: rgb(61, 4, 134);
    text-decoration: none;
    margin: 20px;
    font-size: 20px;
}

#introducao {
    display: flex;
    min-height: 250px;
    align-items: center;
}

#introducao div {
    width: 50%;
    padding-right: 100px;
    padding-left: 100px;
    margin-top: 50px;
}

#sobre-nos{
    margin-top: 50px; 
    padding-left: 100px;
    padding-right: 100px;
    background-color: rgb(54, 31, 5);
    min-height: 200px;
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    text-align: center;
}

#produtos{
    padding-left: 0;
    padding-right: 0;
}
#produtos h2{
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

.conteudo-produtos{
    background-color: chartreuse;
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
}

.produto{
    text-align: center;
}

footer{
    background-color: black;
    color: white;
    margin: 0;
    text-align: center;
    padding-top: 25px;
}

footer p{
    margin: 0;
}

.direitos-autorais{
    padding-top: 25px;
    padding-bottom: 25px;
}

@media(max-width: 875px){
    #introducao{
        flex-direction: column;
        text-align: center;
    }
    .conteudo-produtos{
        flex-direction: column;
    }
    header{
        padding-left: 0;
        padding-right: 0;
        flex-direction: column;
    }
    .logo-header{
        width: 300px;
    }
    #introducao div {
        padding-left: 0;
        padding-right: 0;
        width: 80%;
    }
    .conteudo-produtos{
        flex-direction: column;
    }
    .menu ul{
        padding-left: 0;
        margin: auto;
    }
    .produto{
        width: 80%;
    }
    #sobre-nos{
        text-align: center;
    }
}